# Chapter 11: Conditional Logic

There are use-cases where conditionals are requirement like an if-else.

In [1]:
import os

from dotenv import load_dotenv
from sqlalchemy import create_engine, URL
from sqlalchemy.orm import Session
import pandas as pd


load_dotenv()

url_object = URL.create(
    os.environ["DB_ENGINE"],
    username=os.environ["DB_USER"],
    password=os.environ["DB_PASSWD"],
    host=os.environ["DB_HOST"],
    database=os.environ["DB_NAME"],
)

engine = create_engine(url_object)

# Case Expressions

Instead of using joins, list of customer names whether it is an individual or a business

In [5]:
with Session(engine) as session:

    df = pd.read_sql_query(
        """
        SELECT
            c.cust_id
            , c.fed_id
            , (CASE c.cust_type_cd
                WHEN 'I' THEN (
                    SELECT
                        CONCAT('i-', i.fname, ' ', i.lname)
                    FROM individual i
                    WHERE c.cust_id = i.cust_id
                )
                WHEN 'B' THEN (
                    SELECT
                        CONCAT('b-', b.name)
                    FROM business b
                    WHERE b.cust_id = c.cust_id
                )
                ELSE 'UNKNOWN'
                END) name
        FROM
            customer c
        ;
        """,
        con=session.connection()
    )

print(df)

    cust_id       fed_id                      name
0         1  111-11-1111            i-James Hadley
1         2  222-22-2222           i-Susan Tingley
2         3  333-33-3333            i-Frank Tucker
3         4  444-44-4444            i-John Hayward
4         5  555-55-5555         i-Charles Frasier
5         6  666-66-6666            i-John Spencer
6         7  777-77-7777          i-Margaret Young
7         8  888-88-8888             i-Louis Blake
8         9  999-99-9999          i-Richard Farley
9        10   04-1111111     b-Chilton Engineering
10       11   04-2222222  b-Northeast Cooling Inc.
11       12   04-3333333      b-Superior Auto Body
12       13   04-4444444      b-AAA Insurance Inc.